<h1 style="text-align: center;">This page is MANDAL-ART</h1>

<br>

<table border="3" align="center">
	<tr>
		<td><textarea class="main-art" type="text"></textarea></td>
                <td><textarea class="main-art" type="text"></textarea></td>
		<td><textarea class="main-art" type="text"></textarea></td>
	</tr>
	<tr>
                <td><textarea class="main-art" type="text"></textarea></td>
                <td><textarea class="main-art" type="text"></textarea></td>
                <td><textarea class="main-art" type="text"></textarea></td>
        </tr>
	<tr>
                <td><textarea class="main-art" type="text"></textarea></td>
                <td><textarea class="main-art" type="text"></textarea></td>
                <td><textarea class="main-art" type="text"></textarea></td>
        </tr>

</table>
